<br />
<div class="container row p-0 m-0">
    <div class="col-6">
        <h2 class="text-info">Your Cart</h2>
    </div>

    <div class="col-12 border p-3">
        <table class="table-striped table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th>Description</th>
                    <th>Cost</th>
                    <th>Quantity</th>
                    <td></td>
                </tr>
            </thead>

            @if (Model != null)
            {
                foreach (Cart item in Model)
                {
                    <tr>
                        <td>
                            @item.Description
                        </td>
                        <td>
                            @item.UnitPrice
                        </td>
                        <td>
                            @item.Quantity
                        </td>
                        <td>
                            <form method="post">
                                <button asp-controller="Cart" asp-action="EditQty" asp-route-id="@item.Id" class="btn btn-success text-white">Edit</button>
                                <input type="hidden" asp-route-sku="@item.SKU" />
                                <input type="hidden" asp-route-unitprice="@item.UnitPrice" />
                                 <button asp-controller="Cart" asp-action="DeleteItemFromCart" asp-route-id="@item.Id" class="btn btn-danger">Delete</button>
                            </form>
                        </td>
                    </tr>
                }
            }

        </table>
    </div>
</div>
